@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f4f4f5;
    --foreground: #09090b;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #18181b;
      --foreground: #e4e4e7;
    }
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  p {
    @apply text-base md:text-lg text-zinc-600 dark:text-zinc-400;
  }

  ::selection {
    @apply bg-teal-700 text-zinc-100;
  }

  ::-webkit-scrollbar {
    @apply w-3;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-600;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-600/75;
  }
}

@layer components {
  .text-gradient {
    @apply w-fit text-transparent bg-clip-text bg-gradient-to-r from-green-600 to-blue-600 dark:from-green-400 dark:to-blue-400;
  }
}
