---
export const prerender = false;

import { getCollection, type CollectionEntry } from "astro:content";

import AppLayout from "@/layouts/AppLayout.astro";
import ProjectCard from "@/components/ProjectCard.astro";

type Props = {
  project: CollectionEntry<"project">;
};

const projects = (await getCollection("project")).sort((a, b) => {
  if (a.data.processing === true && b.data.processing !== true) {
    return -1;
  } else if (a.data.processing !== true && b.data.processing === true) {
    return 1;
  } else {
    return 0;
  }
});

const TITLE = "Projects";
---

<AppLayout title={TITLE}>
  <div class="container">
    <div>
      <div class="space-y-6 text-center">
        <h2 class="text-3xl font-semibold">Projects</h2>
        <p>Here is a list of some latest projects that I have worked on.</p>
      </div>

      <ul class="grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 mt-8">
        {
          projects.map((project: any) => {
            return <ProjectCard project={project} />;
          })
        }
      </ul>
    </div>
  </div>
</AppLayout>
