---
import { Image } from "astro:assets";
import { ArrowDownRight, FileText } from "lucide-astro";

import NavLink from "@/components/NavLink.astro";
import navLinks from "@/data/navigation.json";

import HashCodeLogo from "@/content/images/hashcode-logo2.png";
import { MobileNav } from "@/components/MoblieNav";
---

<header class="p-4 fixed w-full z-50">
  <nav
    class="container bg-zinc-200/75 dark:bg-zinc-800/75 flex items-center justify-between border dark:border-zinc-700 rounded-lg sm:mt-4 py-2 md:py-1">
    <a href="/">
      <Image
        src={HashCodeLogo}
        alt="HashCode logo"
        class="aspect-square w-7 h-7"
        quality="high"
        format="webp"
      />
    </a>
    <div class="flex items-center gap-x-4">
      <ul class="hidden sm:flex items-center gap-x-2">
        {
          navLinks.map((link) => (
            <li class="relative text-base">
              <NavLink href={link.href} text={link.text} />
              {link.external && (
                <p class="absolute top-0 -right-1 -rotate-90">
                  <ArrowDownRight className="w-4" />
                </p>
              )}
            </li>
          ))
        }
      </ul>
      <a
        href="/resume_fallback.pdf"
        target="_blank"
        rel="noreferrer noopener"
        title="view my Resume"
        aria-label="View Resume">
        <FileText class="h-5 w-5" />
      </a>

      <MobileNav client:load />
    </div>
  </nav>
</header>
