---
import { Image } from "astro:assets";
import { ArrowDownRight, FileText } from "lucide-astro";

import NavLink from "@/components/NavLink.astro";
import navLinks from "@/data/navigation.json";

import HashCodeLogo from "@/content/images/hashcode-logo.png";

import { MobileNav } from "@/components/MoblieNav";
---

<header class="p-4 fixed w-full z-50">
  <nav
    class="container flex items-center justify-between rounded-lg sm:mt-4 py-2 md:py-1">
    <a href="/">
      <Image
        src={HashCodeLogo}
        alt="HashCode logo"
        class="aspect-square size-7"
        quality="high"
        format="webp"
      />
    </a>

    <div class="flex items-center gap-x-4">
      <ul class="hidden sm:flex items-center gap-x-2">
        {
          navLinks.map((link) => (
            <li class="relative text-base">
              <NavLink href={link.href} text={link.text} />
              {link.external && (
                <span class="absolute top-0 -right-1 -rotate-90">
                  <ArrowDownRight className="w-4" />
                </span>
              )}
            </li>
          ))
        }
      </ul>

      <a
        href="/static/CV_Fariol_Blondeau_Web_Developer.pdf"
        target="_blank"
        rel="noreferrer noopener"
        title="view my Resume"
        aria-label="View Resume">
        <FileText class="siz-5" />
      </a>

      <MobileNav client:load />
    </div>
  </nav>
</header>

<style>
  nav {
    @apply bg-zinc-200/30 dark:bg-zinc-800/30 border  dark:border-zinc-600/50 shadow-md;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }
</style>
