---
import { ViewTransitions } from "astro:transitions";

import "@fontsource/poppins";
import "@/styles/globals.css";

import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";

const { title, ogImage, description, ...props } = Astro.props;

const GA_TRACKING_ID = import.meta.env.GOOGLE_TRACKING_ID ?? "G-H4XJXPNZQ5";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <BaseHead
      title={title}
      description={description}
      ogImage={ogImage}
      {...props}
    />
    <ViewTransitions />
  </head>

  <body class="antialiased mx-auto font-poppins">
    <Header />

    <main class="pt-32 pb-10">
      <slot />
    </main>

    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-H4XJXPNZQ5"></script>
    <script type="text/partytown" define:vars={{ GA_TRACKING_ID }}>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", GA_TRACKING_ID);
    </script>
  </body>
</html>
